body {
  background: #eee;
}

/* movie */
.movie {
  display: flex;
  gap: 24px;
}

/* .movie .poster {
  flex-grow: 1;
} */

.movie .info {
  flex-grow: 2;
}

.movie .genre {
  font-size: 11px;
  padding: 0.25rem 0.75rem;
  border: var(--bs-primary) solid 1px;
  border-radius: 50rem;
  color: var(--bs-primary);
  cursor: pointer;
}
